@import "tailwindcss";

@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: -1%;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  padding: 40px;
  position: fixed;
  top: 10px;
  transform: translateX(-50%);
  left: 50%;
  color: white;
  background-color: transparent;
  overflow: hidden;
  align-items: center;
  z-index: 99;

}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 12rem;
  font-family: var(--font-orbitron);
  cursor: pointer;
  li:hover {
    color: #8dd4f7;
    transition: 0.3s ease;
  }
}
.hero-heading {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 9em;
  }
}
.sub-heading {
  display: flex;
  align-items: center;
  gap: 30px;
}
.super-script {
  position: absolute;
  right: 20px;
  top: 30px;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
}
.left, .right {
  display: flex;
  gap: 80px;
  align-items: center;
  position: relative;
}
.left {
  width: 100px;
  height: 100px;
  position: relative;
}
.container {
  position: relative;
}

.icons {
  display: flex;
  gap: 30px;
}
.grid-element {
  object-fit: cover;
  
  position: relative;
  border-radius: 20px;
  overflow: hidden;
 
}
.el-1 {
  grid-column: 1 / span 3;
  grid-row: 7 / span 3;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px gray solid;
}
.el-6 {
  grid-column: 4 / span 3;
  grid-row: 9 / span 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px gray solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  font-family: var(--font-orbitron);
  font-weight: 700;
}
.el-2 {
  grid-column: 7 / span 2;
  grid-row: 4 / span 3;
  display: flex;
  justify-content: flex-start;
  border: 3px gray solid;
  padding: 1.5rem;
  gap: 10px;
  flex-direction: column;

}

.el-3 {
  grid-column: 7 / span 3;
  grid-row: 7 / span 3;
}
.el-4 {
  grid-column: 2 / span 2;
  grid-row: 4 / span 3;
}
.el-5 {
  grid-column: 4 / span 3;
  grid-row: 2 / span 7;
 

  background-color: aqua;
  
}


.grid-element.el-5.fullscreen {
  position: fixed;
  z-index: 80;
  grid-column: unset;
  grid-row: unset;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  
}
.profile-pic {
  inset: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  opacity: 0;
  transform: translateY(900px);
}
.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 0;
  border-radius: 20px;
  /* filter: blur(2px); */
  min-block-size: 100%;
  background: linear-gradient(#8dd4f7, #9080fa 85%) no-repeat, url(/snowy.jpg) fixed no-repeat center / cover;
  background-blend-mode: soft-light;
}
.snowflake,
.snowflake::before,
.snowflake::after {

  position: absolute;
  inset: 0;
  content: '';
  overflow: hidden;
  pointer-events: none;
  background-image: radial-gradient(
    circle at 5% calc(var(--y) * 1),
    #fff 3px, transparent 6px
  ),
  radial-gradient(
    circle at 65% calc(var(--y) * 1.3),
    #fff 2px, transparent 4px
  );
}
.snowflake {
  animation: snowfall 20s linear infinite;

  background-size: 65% 100%;
}
.snowflake::after {
  inset: -4rem 0 0;
  background-size: 45% 100%;
  animation: snowfall 27s linear infinite;

  opacity: 0.7;
}
.snowflake::before {
  inset: -8rem 0 0;
  background-size: 32% 100%;
  animation: snowfall 37s linear infinite;

  opacity: 0.8;
}

@keyframes snowfall {
  0% {
    --y: -1%;
  }
  100% {
    --y: 101%;
  }
}
.element-content { 
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 11rem;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: white;
  

}
.hero-tag {
  font-family: var(--font-orbitron);
  position: absolute;
  top: 35rem;
  left: 50%;
  transform: translateX(-50%);
}


.section-info {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3.5rem;
  h2 {
    font-size: 3em;
    
  }
  span {
    font-family: var(--font-orbitron);
    font-size: 2em;
    color: #97d4d4;
  }
}
.scene-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}


.section-content-1 {
  background: linear-gradient(
120deg,
#272626,
#d3cfcf,
#060606,
#fffefe
);
    
    background-size: 400% 400%;

  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: gradient 15s ease infinite;

  h2 {
    font-size: 3em;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.blog-plug {
  height: 50dvh;
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  justify-content: center;
  gap: 3rem;

  h2 {
    font-size: 3em;
  }
 
  span {
    font-family: var(--font-orbitron);
    font-size: 5em;
    color: #97d4d4;
    text-align: center;
  }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 100%;
    height: 100dvh;
    border-radius: 20px;
    position: relative;
    gap: 15px;
    padding: 0.4rem;

  
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding: 10px;
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h3, h2 {
  font-family: "Orbitron", sans-serif;
}
h3 {
  font-weight: 900;
}


@media (min-width: 320px) and (max-width: 425px) {

  .middle {
    display: none;
  }
  .header {
    left: 20%;
    justify-content: space-evenly;
  }
  .hero-heading {
    h1 {
      font-size: 3em;

    }
  }
  .sub-heading {

    gap: 20px;
    border: 3px red solid;
    span {

      font-size: 0.5em;

    }
  }
  .hero-tag {
   
    top: 25rem;
    width: 300px;
    
  }
  .grid-container {
    display: flex;
    flex-direction: column;

  
}

  
}

